* { margin: 0; padding: 0; }
html, body { height: 100%; }
body {
  font-family: Arial, sans-serif;
  font-size: 14px; font-weight: 400; text-align: left;
  margin-left: 50px;
}

div#login { margin-top: 50px; }
div#login h1 { margin-bottom: 18px; }

form #messages { margin-top: 15px; line-height: 18px; }

input.shorter { width: 80px; }
input.short { width: 135px; }
input.long { width: 210px; }

input[type="text"], input[type="password"], select {
  padding: 4px 4px 4px 6px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 2px;
}

input[type="submit"], input[type="button"] {
  padding: 3px 11px;
  margin-top: 16px;
  margin-right: 10px;
  border-radius: 4px;
  font-weight: 800;
}

input[type="checkbox"] {
  margin-top: 10px;
  margin-right: 6px;
  margin-bottom: 10px;
}

form#expenses-filter { margin-bottom: 20px; }
form#expenses-filter div { display: inline; }
form#expenses-filter label { margin-right: 7px; }
form#expenses-filter input, select { margin-right: 14px; }
form#expenses-filter input[type="checkbox"] { margin-right: 7px; }
form#expenses-filter input[type="submit"] { margin-left: 14px; }

div.not-editable-form-item { margin-bottom: 11px; }

ul#unsaved-records { margin: 16px 0; list-style-type: none; }
ul#unsaved-records li { margin-bottom: 8px; }
ul#unsaved-records li:before { content: "→ "; }

div#sec-menu { margin-bottom: 35px; }
div#under-sec-menu-messages { margin-bottom: 27px; }

h2, h3, h4 { margin-bottom: 18px; }
h2 { font-size: 21px; }

table { margin-bottom: 12px; }
table.separated { margin-top: 35px; }
table.period { margin-bottom: 45px; }

th, td { padding-bottom: 8px; }
th { padding-bottom: 12px; }

span.code-p {
  padding: 1px 4px 1px 5px;
  margin-right: 2px;
  border-radius: 3px;
  font-size: 13px;
}

span.code-h3 {
  padding: 2px 6px 2px 6px;
  margin-right: 3px;
  border-radius: 3px;
  font-size: 19px;
}

div.box-year { padding-bottom: 30px; }
div.box-year h1 { padding-top: 5px; padding-bottom: 5px; font-size: 16px; }
div.box-year ul { margin: 5px 0; list-style-type: none; }
div.box-year ul li { margin-bottom: 6px; }

div.box-number { margin-top: 20px; }
div.box-number h1 { font-size: 14px; font-weight: 400; padding: 8px 0; }
div.box-number span { font-size: 48px; }

div.box-client { margin-top: 30px; padding-top: 5px; }

table div.lamp {
  float: right;
  width: 15px; height: 15px;
  border-radius: 2px;
}

div.switcher { padding-bottom: 35px; }

p.advice { line-height: 1.3em; }

div#trunk {
  width: 1190px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -37px;
}
div#head { margin-bottom: 50px; padding-top: 20px; }
div#base, .push { height: 37px; }
.push { padding-top: 60px; }

div.one-quarter {
  width: 280px; margin-left: 10px; margin-right: 10px;
  display: inline; float: left; position: relative;
}
div.two-quarters {
  width: 580px; margin-left: 10px; margin-right: 10px;
  display: inline; float: left; position: relative;
}
div.three-quarters {
  width: 880px; margin-left: 10px; margin-right: 10px;
  display: inline; float: left; position: relative;
}
div.four-quarters {
  width: 1180px;
  display: inline; float: left; position: relative;
}

div.push-one-quarter { position: relative; left: 300px; }
div.push-two-quarters { position: relative; left: 600px; }
div.push-three-quarters { position: relative; left: 900px; }

div.alpha { margin-left: 0; }
div.omega { margin-right: 0; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
