body { color: #ccc; background-color: #222; }

a { color: #6af; }

input[type="text"], input[type="password"], select {
  border: 1px #777 solid;
  background: #333;
  color: #ccc;
}

input[type="submit"], input[type="button"] {
  border: 1px #777 solid;
  background: #333;
  color: #ccc;
}

div.not-editable-form-item { color: #777; }

span.greyed-out, p.advice { color: #666; }

span.code-p, span.code-h3 {
  border: 1px #555 solid;
  background: #333;
}

span.code-h3 {
  border: 1px #666 solid;
}

div.box-year, div.box-client { border-top: 1px #777 solid; }

form.left { border-right: 1px #777 solid; }

table div.lit { background-color: #3f6; }
table div.off { background-color: #555; }
